body{
	margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: absolute; 
	background: #f4f4f4;  
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0; 
	font-family: 'Asap', sans-serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a:focus{
	text-decoration:none;
	outline: none;
} 
/*-- video background --*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-- menu-navigation --*/
.menu {
    position: absolute;
    z-index: 9999;
    right: 15px;
}
.menu .navicon {
    background: transparent;
    position: relative;
    height: 46px;
    width: 46px;
    display: block;
    z-index: 9999;
    -webkit-transition: linear 0.5s all;
    -moz-transition: linear 0.5s all;
	-ms-transition: linear 0.5s all;
	-o-transition: linear 0.5s all;
    transition: linear 0.5s all;
	outline: none;
}
.menu .navicon:before, .menu .navicon:after {
	background: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	content: "";
	height: 3px;
	left: 0;
	-webkit-transition: 0.8s all;
	-moz-transition: 0.8s all;
	-o-transition: 0.8s all;
	-ms-transition: 0.8s all;
	transition: 0.8s all;
	width: 45px;
} 
.menu .navicon:before {
	-moz-box-shadow: #fff 0 14px 0 0;
	-o-box-shadow: #fff 0 14px 0 0;
	-ms-box-shadow: #fff 0 14px 0 0;
	-webkit-box-shadow: #fff 0 14px 0 0;
	box-shadow: #fff 0 14px 0 0;
	position: absolute;
	top: 0;
} 
.menu .navicon:after {
	position: absolute;
	top: 28px;
} 
.menu .navicon--active { 
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all; 
	-moz-transition:0.5s all; 
	-o-transition:0.5s all;
	transition:0.5s all;
} 
.menu .navicon--active:before {
	-moz-box-shadow: transparent 0 0 0 0;
	-ms-box-shadow: transparent 0 0 0 0;
	-o-box-shadow: transparent 0 0 0 0;
	-webkit-box-shadow: transparent 0 0 0 0;
	box-shadow: transparent 0 0 0 0;
	top: 15px !important;
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}
.menu .navicon--active:after {
	top: 15px !important;
	-webkit-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
} 
.menu .toggle {
    display: block;
    position: absolute;
	right: 0;
    width: 250px;
    background-color: #FFF;
    padding: 2em 3em;
    opacity: 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 7px #696868;
    -moz-box-shadow: 0px 0px 7px #696868;
	-o-box-shadow: 0px 0px 7px #696868;
	-ms-box-shadow: 0px 0px 7px #696868;
    box-shadow: 0px 0px 7px #696868;
}
.menu .toggle--active { 
	opacity: 1;
	-webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
    transition: 0.5s all;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0); 
} 
.menu .toggle-menu li {
    display: block;
    margin: 1em auto;
    text-align: center;  
} 
.menu .toggle-menu li a {
    text-decoration: none;
    color: #999;
    display: inline-block;
    text-align: center;
    font-size: 1.1em; 
    font-weight: 400;
    margin: 6px 0;
    position: relative;
	text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
    transition: 0.5s all;
}
.menu .toggle-menu li a:hover,.menu .toggle-menu li a.active{
	color:#00a78e; 
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    font-weight: 700;
} 
/*-- HOVER EFFECT3 --*/ 
.effect-3 a:before,
.effect-3 a:after {
	content: "";
	height: 1px;
	width: 0;
	opacity: 0;
	background-color:#00a78e;
	position: absolute;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
} 
.effect-3 a:before {
	top: -3px;
} 
.effect-3 a:after {
	bottom: -3px;
	right: 0;
} 
.effect-3 a:hover:before,
.effect-3 a:hover:after,.menu .toggle-menu li a.active:before,.menu .toggle-menu li a.active:after{
	width: calc(100% + 20px);
	opacity: 1;
}
/*-- //menu-navigation --*/
.logo {
    float: left;
    text-align: center; 
}
.logo h1 {
    color: #FFF;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
.logo h1 a,.logo h1 a:hover{
    color: #fff;
	text-decoration: none;
	outline:none;
} 
/*-- social-icons --*/
.social-widgets {
    float: right;
	margin-right:8em;
} 
.social-widgets a {
    font-size: 1em;
    color: #fff;
    margin:0 0.2em;
    display: inline-block;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
    transition: .5s all;
    width: 30px;
    height: 30px;
    line-height: 2.1em;
    border: 1px dashed transparent;
    text-align: center;
}
.social-widgets a:hover {
	border-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
    border-radius: 50%;
}
/*-- //social-icons --*/ 
/*-- banner-text --*/ 
.banner-text {
    padding:14em 0;
    text-align: left;
}
.banner-esntext {
    margin: 0 auto;
    display: inline-block;
    padding: 3.5em;
    background: rgba(0, 0, 0, 0.55);
}
.banner-text h2 {
    font-size: 6em;
    color: #fff;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    position: relative;
    letter-spacing: 3px;
    line-height: 1.2em;
    border: 1px solid #fff;
}
.banner-text h2 span {
    font-size: .2em;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 5px;
    position: absolute;
    top: -17%;
    right: 7%;
    font-family: 'Asap', sans-serif;
} 
.banner-text h2:first-letter {
    font-size: 2em;
    color: #fff;
    margin-right: -20px;
} 
.banner-text p {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    line-height: 2em;
    margin: 1em 0 0;
    font-weight: 300;
    letter-spacing: 4px;
}
/*-- //banner --*/  
/*-- banner-address --*/  
.esnagile-address {
    padding:0 0 3em;
	text-align: center;
}
.esnagile-address ul li {
    font-size: 1.1em;
    display: inline-block;
    width: 33%;
    text-align: center;
    color: #fff;
}
.esnagile-address ul li a{ 
    color: #fff;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.esnagile-address ul li a:hover{
    color: #4378ff;
}
.esnagile-address ul li i.fa {
    font-size: 1.2em;
    margin-right: 0.5em;
    vertical-align: middle;
}
/*-- //banner-address --*/ 
/*-- footer --*/ 
.esnagile-footer {
    background: #020201;
    padding: 2em 0;
    text-align: center;
}
.esnagile-footer p {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}
.esnagile-footer p a {
    color: #4378ff;
    text-decoration: none;
}
.esnagile-footer p a:hover{
    color: #fff; 
}
/*-- //footer --*/ 
/*-- about-page --*/  
/*-- banner --*/  
.banner{ 
	background:url(../images/bg.jpg)no-repeat center 0px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;    
	position:relative;
}  
.header {
    padding-top:2em;
}
.header .container { 
    position: relative;
}
.menu, .social-widgets {
    margin-top: 1em;
}
.banner.about-esnbanner .esnagile-address {
    padding: 5em 0;
}
.about{
	padding:5em 0;
    position:relative;  
}
h2.agileits-title {
    font-size: 3em;
    color: #fff;
    text-align: center;
    font-weight: 400;
    display: inline-block;
    text-transform: capitalize;
    background: #020201;
    padding: .5em 1em;
    position: absolute;
    top:-1em;
    left: 42%;
}
/*-- about-page --*/  
span.border {
    width: 18%;
    background: #8C8989;
    height: 1px;
    display: block;
    margin-top: 26px;
    position: relative;
    margin: 23px auto 0px;
}
 span.border:after {
       content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left: 103px;
}
span.border.one:after {
    content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left: 64px;
}
.about-left-grid h3{
	font-size:2.5em;
	color:#FFF;
}
.about-left-grid{
	width: 70%;
	float:right;
    margin-right: 10em;
    min-height:500px;
}
.about-left-grid h2{
	color:#191919;
	font-size:2em;
}
.about-left-grid h2 span{
	font-weight:700;
}
.about-left-grid p{
    color: #666666;
    font-size:1em;
    line-height: 2em;
    margin-top: 1.5em;
} 
.about-left-grid ul{
	margin: 1em;
	padding:0;
}
.about-left-grid ul li{
    margin-left: auto;
    margin-right: auto;
    color: #666666;
    font-size:1em;
    margin-top: 0.5em;
}
.about-left {
      padding: 4.5em 0 4.7em 0;
    float: right;
    background: #f4f4f4;
}
.about-left-grid ul li a {
       padding: 0.6em 2em;
    font-size: 1.2em;
    color: #00a78e;
    border: 2px solid #00a78e;
    text-decoration: none;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
}
.about-left-grid ul li a:hover{
	background:#00a78e;
	color:#FFF;
	border-radius:1.5em;
	-webkit-border-radius:1.5em;
	-moz-border-radius:1.5em;
	-o-border-radius:1.5em;
	-ms-border-radius:1.5em;
}
.about-right{
	    float: left;
	padding:0;
    background:url(../images/Ellen.jpg) no-repeat 0px 0px;
    position: relative;
	min-height:580px;
	background-size: cover;
   -o-background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
}
/*-- //about-page --*/  
/*-- Skills bar effects --*/  
.skill-grids {
    margin: 3em 0;
}
.skills h4 {
    font-size: 1.8em;
    color: #00a78e;
    letter-spacing: 2px;
    margin-bottom: 0.8em; 
} 
.skills-w3lsleft ul li {
    display: block;
    font-size: 1em;
    color: #999;
    margin-top: 1em;
}
.skills-w3lsleft ul li i.fa{
    font-size: 1.2em;
    margin-right: 0.5em;
}
.skillbar {
	position: relative;
	display: inline-block;
	margin: 15px 0;
	width: 100%;
	background: #eee;
	height: 35px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
} 
.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	font-weight: bold;
	font-size: 13px;
	color: #f4f4f4;
	background: #6adcfa;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
} 
.skillbar-bar {
	height: 35px;
	width: 0px;
	background: #6adcfa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	border-radius: 3px;
	display: inline-block;
} 
.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 35px;
	line-height: 35px; 
	color:rgba(0, 0, 0, 0.88);
}
/*-- //Skills bar effects --*/ 
/*-- stats --*/
.stats {
    background: url(../images/bg.jpg)no-repeat center fixed;
    background-size: cover; 
}  
.stats-info {
	text-align: center;
	background: rgba(0, 0, 0, 0.62);
}  
.stats-grid {
    margin: 4em 0;
}
.stats i.fa {
    font-size: 3em;
    color: #fff;
}
.numscroller {
    font-size: 3em;
    font-weight: 200;
    color: #00a78e;
    margin-bottom: 0;
    line-height: 1em;
}
.stats-info p {
    color: #fff;
    letter-spacing: 3px;
    margin: 0.5em 0;
    font-size: 1.1em;
}
/*-- //stats --*/
/*-- History --*/
.history-grids {
    width: 88%;
    margin: 0 auto;
}
.history-left {
    float: left;
    width: 30%;
    background: #00a78e;
    text-align: center;
    padding: 4.5em 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.history-right {
    float: right;
    width: 70%;
    border: 1px solid #00a78e;
    border-left: none;
    padding: 2.5em;
    margin: 0.8em 0;
}
.history-left h6 {
    font-size: 2em;
    color: #fff;
    font-family: 'Asap', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	transition: .5s all;
	display: inline-block;
}
.history-left h6 span {
    font-size: 0.5em;
    text-transform: capitalize;
    margin-left: 5px;
    letter-spacing: 1px;
    line-height: 1.8em;
    vertical-align: bottom;
}
.history-left h5 {
    font-size: 1em;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 2px;
}
.history-right h4 {
    font-size: 1.6em;
    color: #00a78e;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
}
.history-grids.history-grids-btm {
    margin: 3em auto;
}
.history-grids.history-grids-btm .history-left {
    float: right;
}
.history-grids.history-grids-btm .history-right {
    border-right: 0;
    border-left: 1px solid #00a78e;
}
.history-grids:hover .history-left h6 {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
    transform: scale(1.3);
}
.history-left h3 span {
    font-size: .5em;
    font-weight: 300;
    vertical-align: middle;
    margin-left: 5px;
}
/*-- //History --*/
/*-- Activities --*/
.right1 h4,.left1 h4 {
    color: #000;
    text-transform: uppercase;
    margin-bottom: .5em;
    font-size: 20px;
}
.point_activ {
    margin: 90px;
}
.activities {
    padding: 70px 0px;
	background-color: #f4f4f4(0, 0, 0, 0.68);
}
.activities h3 {
    letter-spacing: 2px;
    text-align: center;
	color: #00b2a9;
    font-size: 50px;
   margin-bottom: 50px;
    font-weight: 600; 
}
.right1 p,.left1 p  {
    font-size: 15px;
    line-height: 27px;
    letter-spacing: .5px;
    color: #000;
	text-align:left;
}
.right1 {
    margin-bottom: 4em;
}
.left1 {
    margin-bottom: 4em;
    text-align: right;
    padding-right: 4em;
	position:relative;
}
p.activ_para {
    text-align: left;
}
p.activ-head1 {
    text-align: right;
}
h4#long_sentence{
    line-height: 2em;
}
h4.activ_head2 {
    text-align: left;
	color:#00b2a9;
}
.left1 i.fa.fa-bullseye {
    position: absolute;
    right: -6.5%;
    top: 0%;
    font-size: 30px;
    color: #ff4c4c;
}.left1 i.fa.fa-circle-thin {
    position: absolute;
    right: -6.5%;
    top: 0%;
    font-size: 30px;
    color: #ff4c4c;
}
.left1 i.fa.fa-creative-commons {
    position: absolute;
    right: -6.5%;
    top: 0%;
    font-size: 30px;
    color: #ff4c4c;
}
.left1 i.fa.fa-question-circle-o {
    position: absolute;
    right: -6.5%;
    top: 0%;
    font-size: 30px;
    color: #ff4c4c;
}
.left1:nth-child(4) {
    margin-bottom: 0em;
}
.right1:nth-child(4) {
    margin-bottom: 0em;
}
.activright {
    padding-left: 5em;
}
.activleft {
    border-right: 1px solid #969696;
}
.left1 h4 {
    color:#00b2a9;
}
/** /Activities **/
/*-- blog --*/
header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }
  
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
      padding: 200px 0;
    }
  }
  
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  
  header.masthead .page-heading .subheading,
  header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 80px;
    }
  }
  
  header.masthead .post-heading h1 {
    font-size: 35px;
  }
  
  header.masthead .post-heading .meta,
  header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
  }
  
  header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif;
  }
  
  header.masthead .post-heading .meta a {
    color: #fff;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
      font-size: 55px;
    }
    header.masthead .post-heading .subheading {
      font-size: 30px;
    }
  }
  
  .post-preview > a {
    color: #212529;
  }
  
  .post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1;
  }
  
  .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
  }
  
  .post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
  }
  
  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529;
  }
  
  .post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
    text-decoration: underline;
    color: #0085A1;
  }
  
  @media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
      font-size: 36px;
    }
  }
/*-- //blog --*/

/*-- contact --*/
#contct{
    background-color: white;
}
.ctact-w3left{
	padding:3em;
    background:#f5f5f5;
}
.ctact-w3left span i{
        color: #212121;
        font-size: 14px;
        text-transform: uppercase;
        font-style: normal;
        float: left;
        width: 15%;
        margin: .8em 0 0;
        font-weight: 600;
}
.ctact-w3left input[type="text"],.ctact-w3left input[type="email"],.ctact-w3left textarea{
	outline: none;
    width: 85%;
    background: #fff;
    color: #212121;
    padding: 10px;
    font-size:1em;
    border:1px solid #ddd;
}
::-webkit-input-placeholder{
	color:#212121 !important;
}
#map{
    width:100%;
    height:350px;
    margin: 1em;
}
.ctact-w3left span {
    padding: .5em 0;
    display: block;
}
.ctact-w3left textarea{
	min-height:200px;
	margin-bottom:1em;
	resize:none;
}
.w3_submit {
    text-align: right;
}
.ctact-w3left input[type="submit"] {
    outline: none;
    background: #00b2a9;
    border: 2px solid #00b2a9;
    color: #fff;
    padding: .7em 2em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.ctact-w3left input[type="submit"]:hover {
    color: #00b2a9;
    background: none;
}
.profile-grids {
    border: 1px solid #999;
    padding: 2em;
    margin-top: 1.5em;
}
.profile-grids h5 {
    color: #00b2a9;
    font-size: 1.5em;
    margin-bottom: 1.2em;
}
.profile-grids ul li {
    display: block;
    margin-top: 0.8em;
    color: #999;
    font-size: 1em;
}
.profile-grids ul li  a{ 
    color: #999; 
}
.profile-grids ul li  a:hover{ 
    color: #00b2a9; 
}
/*-- //contact --*/
/*-- responsive-design --*/ 
@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
}
}
  
@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
}
}
  
@media (max-width: 767px) {
    .fullscreen-bg {
      background: url('../img/videoframe.jpg') center center / cover no-repeat;
}
  
.fullscreen-bg__video {
      display: none;
}
}
@media(max-width:1080px){
.banner-w3lstext { 
    padding: 2.5em; 
}
.banner-text {
    padding: 12em 0; 
}
a.wthree-more::before ,a.wthree-more > span{ 
    padding: 0.8em 0; 
}
.about-right h3 {
    font-size: 2.2em; 
}
.about-right h4 { 
    margin-top: 1em; 
}
.hire-w3lgrids {
    margin-top: 1.5em;
}
.social-wthree-icons ul {
    margin-top: 2em;
}
.esnip-title {
    margin-bottom: 3em;
}
.history-grids {
    width: 100%; 
}
.history-left { 
    width: 28%; 
}
.history-right { 
    width: 72%; 
    padding: 2.5em 2em; 
}
.view-tenth .mask { 
    padding: 2.5em; 
} 
}
@media(max-width:1024px){
.profile-grids h5 { 
    margin-bottom: 1em;
}
.menu .toggle { 
    padding: 1.5em 3em; 
} 
}
@media(max-width:991px){
.banner-text h2 {
    font-size: 5.5em; 
}
.banner-w3lstext {
    padding: 2em;
}
.banner-text h2 span { 
    letter-spacing: 3px; 
    right: 12%; 
}
.w3agile-address ul li {
    width: inherit; 
}
.w3agile-address ul li:nth-child(2) {
    margin: 0 5em;
}
ul.address li ul.agileits-address-text li:nth-child(1) {
    width: 30%;
}
ul.address li ul.agileits-address-text li { 
    margin-top: 1.2em; 
}
.about-right h3 {
    font-size: 2em;
}
.about-text {
    padding: 2em 1em 0;
}
.skill-grids {
    margin: 2em 0;
}
.stats-grid {
    margin: 3em 0;
}
.numscroller {
    font-size: 2.5em; 
}
.stats i.fa {
    font-size: 2em; 
}
.history-left { 
    padding: 5.5em 0; 
}
.social-widgets { 
    margin-right: 6em;
}
.agileits_w3layouts_gallery_grid {
    padding: 0 .5em;
}
.agileits_w3layouts_gallery_grid1.hover14 {
    padding: 0.5em 0;
}
.view-tenth .mask {
    padding: 1em; 
}
.view-tenth h3{ 
    font-size: 1.8em;
	margin-bottom: .3em; 
}
.w3agile-contact-grids p {
    margin-top: 2em;
}
.ctact-w3left textarea {
    min-height: 150px; 
}
h2.agileits-title {
    font-size: 2.6em; 
} 
}
@media(max-width:800px){

.menu, .social-widgets {
    margin-top: 0.5em;
}
.banner-text h2 {
    font-size: 5em;
}
.banner-text p { 
    letter-spacing: 3px;
}
.banner-text {
    padding: 10em 0;
}
.w3agile-address {
    padding: 0 0 2em;
}
.menu .toggle-menu li a { 
    font-size: 1em; 
	margin: 4px 0; 
} 
.menu .toggle { 
    width: 230px; 
}
.about-text p:first-letter {
    font-size: 5em; 
} 
}
@media(max-width:768px){
.history-grids.history-grids-btm {
    margin: 2em auto;
} 
}
@media(max-width:736px){
.banner-text p {
    letter-spacing: 2px;
} 
.w3agile-address ul li {
    font-size: 1em; 
}
.banner-text {
    padding: 8em 0;
}
.about-left img {
    border-width: 12px;
}
.about-left {
    padding: 0 16em;
}
.about-right h3 {
    font-size: 1.8em;
}
.about-right.wthree { 
    margin-top: 2em;
}
.about-right h4 {
    font-size: 0.9em; 
}
.about {
    padding: 4em 0; 
} 
.w3ls-title {
    margin-bottom: 2em;
}
.skills h4 {
    font-size: 1.6em; 
    margin-bottom: 0.6em;
}
.skills-w3lsright {
    margin-top: 2em;
}
.skillbar { 
    margin: 12px 0; 
}
.stats-grid:nth-child(1), .stats-grid:nth-child(2) {
    margin-bottom: 0em;
}
.history-right h4 {
    font-size: 1.5em; 
}
.view-tenth p { 
    letter-spacing: 0;
}
h2.agileits-title {
    font-size: 2.3em;
	left: 36%;
}
}
@media(max-width:667px){
.banner-text h2 span {
    letter-spacing: 2px;
    right: 8%;
}
.banner-text p { 
    margin: 0.5em 0 0; 
}
.banner-w3lstext {
    padding: 1.5em;
}
.banner-text {
    padding: 7em 0 6em;
}
.w3agile-address ul li:nth-child(2) {
    margin: 0 3em;
}
.about-left {
    padding: 0 14em;
}
.history-right { 
    padding: 1.5em 1.5em;
}
.banner.about-w3banner .w3agile-address {
    padding: 4em 0;
}
.ctact-w3left {
    padding: 2em; 
}
.ctact-w3left textarea { 
    margin-bottom: 0.5em; 
}
.profile-grids { 
    padding: 1.5em 2em;
    margin-top: 1em;
} 
}
@media(max-width:640px){
.history-left h6 {
    font-size: 1.5em; 
} 
}
@media(max-width:600px){
.banner-text h2 {
    font-size: 4.5em;
} 
.banner-text p {
    letter-spacing: 1px;
}
.w3agile-address ul li {
    font-size: 0.9em;
}
.w3agile-address ul li:nth-child(2) {
    margin: 0 2em;
}
.banner-text {
    padding: 6em 0 5em;
}
.header {
    padding-top: 1.5em;
}
.banner.about-w3banner .w3agile-address {
    padding: 3em 0;
}
h2.agileits-title {
    font-size: 2em;
    left: 34%;
}
.about-left {
    padding: 0 11em;
}
.w3ls-title {
    margin-bottom: 1em;
}
.about-text p:first-letter {
    font-size: 4em;
}
.about-right h3 {
    font-size: 1.6em;
}
ul.address li ul.agileits-address-text li { 
    font-size: 1em; 
}
.history-left h5 { 
    letter-spacing: 1px;
}
.history-right h4 {
    font-size: 1.3em;
}
.agileits_w3layouts_gallery_grid {
    padding: 0 .1em;
}
.agileits_w3layouts_gallery_grid1.hover14 {
    padding: 0.1em 0;
}
.view-tenth h3{
    font-size: 1.5em; 
}
.view-tenth p { 
    line-height: 1.6em;
}
.ctact-w3left span i { 
    width: 20%; 
}
.ctact-w3left input[type="text"], .ctact-w3left input[type="email"], .ctact-w3left textarea { 
    width: 80%; 
}
.w3agile-footer { 
    padding: 1.5em 0; 
} 
}
@media(max-width:480px){
.menu .toggle {
    width: 210px;
    padding: 1em;
}
.social-widgets a {
    font-size: 0.9em; 
    width: 28px;
    height: 28px;
    line-height: 2.4em; 
}
.social-widgets {
    margin-right: 5em;
} 
.banner-text h2 {
    font-size: 4em;
}
.banner-text p {
    letter-spacing: 0.5px;
}
.w3agile-address ul li:nth-child(2) {
    margin: 1em 0;
}
.w3agile-address ul li { 
    display: block;
}
.about-left {
    padding: 0 7em;
}
.history-left {
    padding: 2em 0;
    width: 100%;
    float: none;
}
.history-left h5 {
    font-size: 0.9em; 
    margin-top: 0.8em; 
}
.history-right {
    width: 100%; 
    float: none;
    border: 1px solid #4378ff;
    margin: 0;
}
.history-left {
    padding: 2em 0;
    width: 100%;
    float: none;
}
.history-grids.history-grids-btm .history-left {
    float: none;
}
.history-grids.history-grids-btm .history-right { 
    border: 1px solid #4378ff;
}
ul.address li ul.agileits-address-text li {
    margin-top: 1em;
}
.about-right.wthree {
    padding-left: 2em;
}
p { 
    letter-spacing: 0px;
}
.numscroller {
    font-size: 2em;
}
.stats-info p { 
    letter-spacing: 2px; 
    font-size: 1em;
}
.agileits_w3layouts_gallery_grid {
    padding: 0 1em;
    width: 100%;
    float: none;
}
.view-tenth .mask {
    padding: 3em;
}
.view-tenth h3{
    font-size: 2em;
    padding-bottom: 0.8em;
    margin-bottom: 1em;
}
.w3layouts_gallery_grid1 {
    margin: 0;
}
.agileits_w3layouts_gallery_grid1.hover14 {
    padding: 1em 0;
} 
}
@media(max-width:414px){

.social-widgets a { 
    margin: 0; 
}
.about-right.wthree {
    padding: 0;
}
ul.address li b {
    letter-spacing: 3px;
}
a.wthree-more {
    padding: 0 2em; 
    font-size: 0.9em; 
}
h2.agileits-title { 
    left: 28%;
}
.about {
    padding: 3em 0;
}
.stats-grid {
    margin: 2em 0;
}
.stats i.fa {
    font-size: 1.8em;
}
.w3agile-contact-grids {
    padding: 0;
}
.ctact-w3left {
    padding: 1.5em;
}
}
@media(max-width:384px){
.banner-text h2 {
    font-size: 3.5em;
}
.banner-text p {
    letter-spacing: 0;
}
.banner-text {
    padding: 5em 0 4em;
}
.menu .toggle-menu li a {
    font-size: 0.9em;
    margin: 3px 0;
}
.about-left {
    padding: 0 4em;
}
.social-wthree-icons ul {
    margin-top: 1.5em;
}
.about-text {
    padding: 2em 0em 0;
}
.skills-w3lsright { 
    padding: 0;
}
.skillbar {
    margin: 8px 0;
}
.history-left {
    padding: 1.2em 0; 
}
.view-tenth h3{ 
    padding-bottom: 0.5em;
    margin-bottom: 0.6em;
}
h2.agileits-title {
    left: 24%;
}
.ctact-w3left span i { 
    font-size:.9em; 
}
.w3agile-contact-grids p {
    margin-top: 1.5em;
} 
}
@media(max-width:375px){
.agileits_w3layouts_gallery_grid {
    padding: 0; 
}
.agileits_w3layouts_gallery_grid1.hover14 {
    padding: 0.5em 0;
}
.ctact-w3left textarea {
    min-height: 120px;
}
.ctact-w3left input[type="submit"] { 
    padding: .7em 1.5em;
    font-size: 0.9em; 
} 
}
@media(max-width:320px){
.menu .navicon:before { 
    top: -2px;
}
.menu .navicon:before, .menu .navicon:after { 
    width: 41px;
}
.menu .navicon { 
    height: 41px;
    width: 41px; 
}
.menu .navicon:after { 
    top: 26px;
}
.banner-text h2 {
    font-size: 3em;
}
.banner-text h2:first-letter { 
    margin-right: -10px;
}
.banner-text {
    padding: 4em 0 3em;
}
.w3agile-address ul li {
    font-size: 0.85em;
}
p {
    font-size: 0.9em; 
}
.about-left {
    padding: 0 2em;
}
.about-right h3 {
    font-size: 1.4em;
}
.about-right h4 { 
    letter-spacing: 1px;
}
ul.address {
    margin-top: 1em; 
}
ul.address li ul.agileits-address-text li {
    font-size: 0.9em;
}
ul.address li b {
    letter-spacing: 2px;
}
ul.address li ul.agileits-address-text li:nth-child(1) {
    width: 27%;
}
h2.agileits-title {
    left: 21%;
    font-size: 1.8em;
}
.history-right h4 {
    font-size: 1.2em;
    letter-spacing: 0px;
}
.ctact-w3left span i {
    width: 40%;
	margin: 0; 
}
.ctact-w3left input[type="text"], .ctact-w3left input[type="email"], .ctact-w3left textarea {
    width: 100%;
    margin-top: .5em;
	font-size: 0.9em;
} 
.ctact-w3left input[type="submit"] { 
    font-size: 0.85em;
}
.profile-grids {
    padding: 1.5em; 
}
.history-grids.history-grids-btm {
    margin: 1.5em auto;
}
.view-tenth .mask {
    padding: 2em;
} 
}
/*-- //responsive-design --*/